.whitespace-300 {
  width: 100%;
  height: 200px;
}

.whitespace-200 {
  width: 100%;
  height: 0px;
}

.row {
  display: none;
}

.work-page {
  margin-top: 100px;
}

.works {
  margin: 0 2em;
}

.row1, .row2, .row3 {
  width: 100%;
  display: flex;
  
}

.imagecontainer {
  width: 50%;
  padding: 2em;
}

.imagecontainer img {
  border-radius: 15px;
}

.text {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.title {
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 2em;
}

.information {
  height: 80%;
  text-align: end;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2em;
}

.title2 {
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2em;
}

.information2 {
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 2em;
}

.row1 h3, .row2 h3 , .row3 h3{
  font-weight: 200;
  font-size: 26px;
  font-family: inter;
}

.row1 h5, .row2 h5, .row3 h5{
  font-size: 26px;
  font-weight: 200;
  font-family: inter;
}

.link h5 {
  color: rgb(75, 75, 75);
  transition: color 0.3s;
}

.link h5:hover {
  color: rgb(0, 0, 0);
  transition: color 0.3s;
}

@media (max-width: 1150px) {
  .row1 h3, .row2 h3 , .row3 h3{
    font-weight: 100;
    font-size: 22px;
  }
  
  .row1 h5, .row2 h5, .row3 h5{
    font-size: 24px;
  }
}
@media (max-width: 1000px) {
  .row1 h3, .row2 h3 , .row3 h3{
    font-weight: 100;
    font-size: 18px;
  }
  
  .row1 h5, .row2 h5, .row3 h5{
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .row1 h3, .row2 h3 , .row3 h3{
    font-weight: 100;
    font-size: 16px;
  }
  
  .row1 h5, .row2 h5, .row3 h5{
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  .whitespace-300 {
    width: 100%;
    height: 150px;
  }

  .work-page {
    margin-top: 0px;
  }

  .row1, .row2, .row3 {
    flex-direction: column;
  }
  .imagecontainer {
    width: 100%;
    padding: 0;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
  .title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }
  .title2{
    padding: 0;
  }
  .information {
    padding: 0;
    display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .information2 {
    padding: 0;
    display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .row1 h3, .row2 h3 , .row3 h3{
    font-weight: 100;
    font-size: 20px;
    
  }
  
  .row1 h5, .row2 h5, .row3 h5{
    font-size: 22px;
    padding-top: 25px;
    padding-bottom: 10px;
  }

  .row {
    display: flex;
  }
  .column {
    display: none;
  }
}