.row {
  display: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.work-page {
  width: 96%;
}

.row1, .row2, .row3 {
  width: 100%;
  display: flex;
  gap: 2em;
  margin-bottom: 3em;
}

.imagecontainer {
  width: 50%;
}

.imagecontainer img {
  border-radius: 15px;
}

.text {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.title {
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.information {
  height: 80%;
  text-align: end;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.title2 {
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.information2 {
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.row1 h3, .row2 h3 , .row3 h3{
  font-weight: 200;
  font-size: 26px;
  font-family: inter;
}

.row1 h5, .row2 h5, .row3 h5{
  font-size: 26px;
  font-weight: 200;
  font-family: inter;
}

@media (max-width: 1200px) {
  .row1 h3, .row2 h3 , .row3 h3{
    font-size: 22px;
  }
  
  .row1 h5, .row2 h5, .row3 h5{
    font-size: 22px;
  }

  .flex {
    margin-bottom: 50px;
  }
}


@media (max-width: 900px) {
  .flex {
    margin-bottom: 10git 0px;
  }
  .work-page {
    margin-top: 0px;
  }

  .row1, .row2, .row3 {
    flex-direction: column;
    margin-bottom: 25px;
  }
  .imagecontainer {
    width: 100%;
    padding: 0;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
  .title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }
  .title2{
    padding: 0;
  }
  .information {
    padding: 0;
    display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .information2 {
    padding: 0;
    display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-end;
  }
  
  .row1 h5, .row2 h5, .row3 h5{
    padding-top: 25px;
    padding-bottom: 10px;
  }

  .row {
    display: flex;
  }
  .column {
    display: none;
  }
}