
.main {
  width: 100vw;
  height: 100%;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

#sleep {
  z-index: 10;
  margin-bottom: 100px;
}


#mindfulness {
  z-index: 1;
}

.homeabout {
  height: 150px;
  width: 100%;
  
}

.sleepmindfulness {
  height: 150px;
  width: 100%;
 
}

.mindfulnesscontact {
  height: 150px;
  width: 100%;

} */