.containervanhettekstje {
  display: flex;
  justify-content: center;
}
.tekstje {
  height: 85%;
  padding: 1em 1.5em;
  font-size: 40px;
}

.tekstje h2{
  font-size: 46px;
  font-family:  inter;
  font-weight: 300;
}

@media (max-width: 900px) {
  .tekstje h2 {
    font-size: 30px;
  }
  .tekstje {
    padding: 0.75em;
  }
}

