.containervanhettekstje {
  display: flex;
  justify-content: center;
}
.tekstje {
  height: 85%;
  margin: 2em 0.8em;
  font-size: 40px;
}

.tekstje h2{
  font-size: 46px;
}

@media (max-width: 900px) {
  .tekstje h2 {
    font-size: 30px;
  }
}