.footer2 {
  position: relative;
  z-index: 0;
  margin: 0 auto;
}

.footer2 .container {
  display: flex;
}

.footer2 .container .footer-col {
  flex: 1;
  display: flex;
  gap: 1em;
}

.footer-col:nth-child(2) {
  justify-content: flex-end;
}

.footer-col .footer2-item a {
  font-family: "lisa";
  font-size: 30px;
}

@media (max-width: 900px) {
  .footer-col {
    flex-direction: column;
  }
  .footer2 {
    width: 100%;
  }

  .footer-col:nth-child(2) {
    justify-content: flex-start;
    align-items: flex-end;
  }
}

@media (max-width: 450px) {
  .footer-col .footer2-item a {
    font-size: 20px;
  }
}
