.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .containersss {
  display: flex;
  justify-content: space-between;
  width: 96%;
  padding: 2em 0;
}

.footer .containersss .footer-col {
  display: flex;
  gap: 1em;
}

.footer-col:nth-child(2) {
  justify-content: flex-end;
}

.footer-col .footer-item a {
  font-family: inter;
  font-size: 25px;
  transition: color 0.3s ease;
}

.footer-col .footer-item a:hover {
  color: rgb(148, 148, 148);
}


@media (max-width: 900px) {
  .footer-col .footer2-item a {
    font-size: 22px;
  }
  .footer-col {
    flex-direction: column;
  }
  .footer-col:nth-child(2) {
    justify-content: flex-start;
    align-items: flex-end;
  }
}
